.services__container {
  justify-content: center;
  column-gap: 1.8rem;
}

.services__content {
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-right: none;
  background-color: var(--container-color);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

/* Grid layout for .services__content after width 992px */
@media screen and (min-width: 992px) {
  .services__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.5rem;
  }
}

.services__big__title {
  display: flex;
  justify-content: flex-start; /* Align left */
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.services__icon {
  font-size: 4rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.services__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.services__modal-content {
  width: 100%;
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-description {
  font-size: var(--small-font-size);
  padding: 0;
  margin-bottom: var(--mb-2);
}

.services__modal-services {
  row-gap: 0.75rem;
  margin-top: 1.5rem;
}

.services__modal-service {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.services__modal-icon {
  color: var(--title-color);
  font-size: 1.1rem;
}

.services__modal-info {
  font-size: var(--small-font-size);
  text-align: center;
}

/* Active modal */

.active-modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .services__content {
    padding: 3.5rem 0.5rem 1.25rem;
  }

  .services__icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .services__modal-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }

  .services__modal-description {
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .services__container {
    grid-template-columns: max-content;
  }

  .services__content {
    padding-right: 6rem;
  }
}
